// app global css in SCSS form
#q-app {
    height: 100vh; /* or min-height:100vh if you want it to grow */
    display: flex;
}
.q-pa-md {
    flex: 1;
    display: flex;
    flex-direction: column;
}
